@using Bootstrap.Pagination
<div style="text-align: center">
    <ul class="pager">
        @{
            var pager = ViewData["pager"] as Pager;
            if (pager.IsFirstPage)
            {
                <li class="disabled"><span>← 上一页</span></li>
            }
            else
            {
                <li><a onclick="navigateTo(@(pager.Page - 1));" href="javascript:void(0);">← 上一页</a></li>
            }
            if (pager.IsLastPage)
            {
                <li class="disabled"><span>下一页 →</span></li>
            }
            else
            {
                <li><a onclick="navigateTo(@(pager.Page + 1));" href="javascript:void(0);">下一页 →</a></li>
            }
        }
    </ul>
</div>