@using Bootstrap.Pagination
<div style="text-align: center">
    <ul class="pagination">
        @{
            var pagination = ViewData["pagination"] as Pagination;
            if (pagination.IsFirstGroup)
            {
                <li class="disabled"><span>«</span></li>
            }
            else
            {
                <li><a onclick="navigateTo(@pagination.LastGroup)" href="javascript:void(0);">«</a></li>
            }
            for (var i = 0; i < pagination.CurrentPageCount; i++)
            {
                var page = pagination.GetPageIndex(i) ;
                if (pagination.IsCurrentPage(i))
                {
                    <li class="active"><span>@page</span></li>
                }
                else
                {
                    <li><a onclick="navigateTo(@page);" href="javascript:void(0);">@page</a></li>
                }
            }
            if (pagination.IsLastGroup)
            {
                <li class="disabled"><span>»</span></li>
            }
            else
            {
                <li><a onclick="navigateTo(@(pagination.NextGroup));" href="javascript:void(0);">»</a></li>
            }
        }
    </ul>
</div>