@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        @{
            var data = ViewData["data"] as int[];
        }
        <ul>
            @for (var i = 0; i < data.Length; i++)
            {
                <li>@data[i]</li>
            }
        </ul>
        @Html.Partial("Pager")
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>