@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div id="data">
            @Html.Partial("DataList")
        </div>
        <div id="pagination">
            @Html.Partial("Pagination")
        </div>
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript">
            function navigateTo(page, group) {
                $.getJSON("@Url.Action("GetPagination")", {
                    page : page,
                    group : group
                }, function(data) {
                    var json = eval('(' + data + ')');
                    $("#pagination").html(json.pagination);
                    $("#data").html(json.data);
                });
            }
        </script>
    </body>
</html>