@{
    var page = Convert.ToInt32(ViewData["page"]);
}
<div id="list">
    @Html.Partial("List")
</div>
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@Html.Partial("_History4MVC")
<script src="~/Scripts/history4mvc.js"></script>
<script type="text/javascript">
    function navigateTo(page) {
        $.ajax({
            url : "@Url.Action("List")",
            data : {
                page : page
            },
            success : function(data) {
                $("#list").html(data);
                pushState({
                    url : "/" + page,
                    page : page
                });
            }
        });
    }

    function backTo(page) {
        $.ajax({
            url : "@Url.Action("List")",
            data : {
                page : page
            },
            success : function(data) {
                $("#list").html(data);
            }
        });
    }

    replaceState({
        url : "/" + @page,
        page : @page
    });

    setPopstate(function(state) {
        backTo(state.page);
    });
</script>